body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    text-align: center;
}

form {
    display: flex;
    gap: 10px;
    height: 40px;
}


form>input {
    flex: 1;
}

.items {
    display: flex;
    justify-content: center;
    max-width: 420px;
    min-width: 420px;
}

.items>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 420px;
}

.controls {
    position: absolute;
    display: flex;
    cursor: pointer;
    display: flex;
    width: 300px;
    justify-content: space-between;
    user-select:none;
}

.controls>div {
    background-color: rgb(209, 26, 26);
    color: white;
    padding: 5px;
    border-radius: 7px 0px 0px 7px;
}

.controls>div:first-child {
    border-radius: 0px 7px 7px 0px;
    background-color: rgb(35, 71, 169);
}

.task {
    width: 300px;
    background-color: rgb(200, 200, 200);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 10px;
}